header {
  background-color: orange;
  color: white;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 100%;
  background-image: url(asfalt-light.png);
}

header > div {
  background-color: orange;
}