* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  font-family: 'Bungee', sans-serif;
  margin-left: 1.5em;
}

span{
  margin-right: 1.5em;
  font-family: 'Source Sans 3', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* right side */
p > em{
  font-weight: 600;
}
span > i{
  color: red;
}



